:root {
    --cor-bg-principal: #252221;
    --cor-border: #c0c0c033;
    --white: #fff;
    --hover-white: #7a7878;
    --black: #000;
    --cor-lineBottom-nav: #dadada;
    --cor-principal: #ffb633;
    --cor-secondary: #2c2c2c;
    --cor-lineGradient: #ffffff00;
    --description-cardProject: #4b4b4bb8;
    --description-cardProjetoHover: #8a8a8ab8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    background-color: var(--cor-bg-principal);
}

/* Nav */
nav {
    background-color: var(--cor-bg-principal);
    height: 60px;
    overflow-x: hidden;
    border-bottom: 2px solid var(--cor-border);
    color: var(--white);
    display: flex;
    justify-content:  space-between;
    align-items: center;
    padding: 0 154px 0 154px;
    overflow-y: hidden;
}

nav img {
    width: 35px;
    height: 35px;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
}

nav ul a {
    color: var(--white);
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    margin-left: 20px;
}

nav ul a:hover {
    color: var(--hover-white);
}

.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px var(--black);
    position: relative;
    overflow: hidden;
  }
  .hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: var(--cor-lineBottom-nav);
    height: 1px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
  }


  /* Header */

  header {
      max-width: 100%;
      height: 530px;
      background: linear-gradient(90deg, var(--cor-secondary) 67%, var(--cor-principal) 67%);
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }

  .texts {
    margin: 207px auto 0 auto;
    width: 35%;
  }

  #txt-description1, #txt-description2 {
    font-family: 'Dancing Script', cursive;
    font-size: 1.375rem;
    color: var(--white);
  }

  #name-vini {
    font-family: 'Anton', sans-serif;
    font-size: 4vw;
    color: var(--cor-principal);
  }

.btnContactHeader {
      font-size: 1.25rem;
      width: 148px;
      height: 43px;
      font-family: 'Dancing Script', cursive;
      background-color: transparent;
      border: 1px solid var(--cor-principal);
      color: var(--white);
      transition: .8s;
      cursor: pointer;

      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .btnPrimary {
      margin-top: 65px;
  }

  .btnContactHeader:hover {
      background-color: var(--cor-principal);
      border: none;
      color: var(--black);
  }

  .logoVini {
      margin: 40px 308px 0 0;
  }

  /* Main */

  .aboutMe {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 65%;
      height: 372px;
      margin: 176px auto 177px auto;
  }

  #contentGeneral {
      width: 459px;
      height: 120px;
      margin-left: 67px;
  }

  .title {
    font-family: 'Anton', sans-serif;
    font-size: 2.5rem;
    color: var(--white);
    margin-bottom: 30px;
  }

  .lineDefaultTitle {
      background-color: var(--cor-principal);
      width: 60px;
      height: 5px;
      border: none;
  }

  #textDefault {
    width: 90%;
    text-align: justify;
    font-family: 'Inter', sans-serif;
    font-size: .875rem;
    line-height: 28px;
    color: var(--white);
  }

  #bntDouble {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    margin-top: 40px;
    gap: 15px;
  }

  .btnContactAbout {
      background-color: var(--cor-principal);
      font-size: 20px;
      width: 148px;
      height: 43px;
      transition: .8s;
      cursor: pointer;
      border: none;
      font-family: 'Dancing Script', cursive;

      display: flex;
      align-items: center;
      justify-content: center;
  }

  .btnContactAbout:hover {
    color: var(--white);
    border: 1px solid var(--cor-principal);
    background-color: transparent;
  }


  /* services */

  .services {
      width: auto;
      height: 664px;
      background-color: var(--cor-principal);
  }

  .titleAlternative {
    font-family: 'Anton', sans-serif;
    font-size: 2.5rem;
    color: var(--black);
    margin-left: 230px;
    padding-top: 103px;
  }

  .lineAlternative {
    background-color: var(--white);
    width: 60px;
    height: 5px;
    border: none;
}

#alingItens {
    display: flex;
    align-items: center;
    justify-content: center;
}

#cardsServices {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 150px;
    gap: 45px;
    width: 90%;
}

.cardWork {
    width: 27%;
    display: flex;
    flex-direction: row;
    justify-content: center;

    gap: 15px;
}   

.cardWork:nth-child(3) {
    padding-right: 0;
}

#titleAndDescription {
    width: 80%;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
}

#titleIconsServices {
    font-size: 2.25rem;
    font-family: 'Anton', sans-serif;

}

#textIconsServices {
    font-family: 'Inter', sans-serif;
    font-size: .875rem;
    text-align: justify;
    width: 200px;
    height: 86px;
}


/* Skills */
.skills {
    margin-top: 50px;
}

.titleSkills {
    font-family: 'Anton', sans-serif;
    font-size: 2.5rem;
    color: var(--white);
    margin-left: 230px;
}

#row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    width: 80%;
    margin: 85px auto 0 auto;
}

#descriptionTech {
    border: 1px solid #ffb8338b;
    padding: 10px;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 450px;
    height: 300px;
    text-align: justify;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    line-height: 30px;
    color: var(--white);
}

#cards {
    width: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.cardRow {
    flex: 1 0 120px;
    background-color: var(--white);
    border-radius: 10px;
    height: 120px;
    transition: .8s;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardRow:hover {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);

    background-color: #e3dede;
    border: 2px solid #ffb833;
}

#line {
    width: 863px;
    height: 3px;
    border: none;
    background: linear-gradient(90deg, var(--cor-lineGradient) 0%, var(--white) 50%, var(--cor-lineGradient) 100%);
    margin: 100px auto 100px auto;
}

/* Projects  */
.spaceCardsProjects {
    margin: 40px auto 0 auto;
    display: grid;
    width: 70%;
    height: 100%;
    grid-template-areas: "project1 project2 project3"
    "project4 project5 project6";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .spaceCardsProjects > div {
    margin: 10px;
    border-radius: 10px;
  }
  
  .project1 {
    grid-area: project1;
    background-image: url('/assets/img/project1.jpg');
    background-size: cover;
    background-position: center;
  }

  .project2 {
    grid-area: project2;
    background-image: url('/assets/img/project2.jpg');
    background-size: cover;
    background-position: center;
  }

  .project3 {
    grid-area: project3;
    background-image: url('/assets/img/project3.png');
    background-size: cover;
    background-position: center;
  }

  .project4 {
    grid-area: project4;
    background-image: url('/assets/img/project4.jpg');
    background-size: cover;
    background-position: center;
  }

  .project5 {
    grid-area: project5;
    background-image: url('/assets/img/project5.png');
    background-size: cover;
    background-position: center;
  }

  .project6 {
    grid-area: project6;
    background-image: url('/assets/img/project6.png');
    background-size: cover;
    background-position: center;
  }

  .project1, .project2, .project3, .project4, .project5, .project6 {
      height: 250px;
  }

  .description {
      width: 100%;
      height: 35px;
      background-color: var(--description-cardProject);
      margin-top: 207px;
      color: var(--white);
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      text-align: center;
      font-size: 1.125rem;
      font-family: 'Inter', sans-serif;
      font-weight: bold;
      padding-top: 8px;
      transition: .8s;
  }

  .description:hover {
    background-color: var(--description-cardProjetoHover);
    color: var(--black);
  }

  #link-project {
      text-decoration: none;
      color: var(--white);
      transition: .5s;
  }

  #link-project:hover {
    color: var(--black);
}

#explanation {
    text-align: center;
    color: var(--cor-principal);
    margin-top: 20px;
}


/* Contact Me */
.contactMe {
    height: 650px;
    margin-top: 50px;
}

.formContactMe {
    width: 626px;
    height: 410px;
    background-color: var(--white);
    margin: 30px auto 0 auto;
    border-radius: 50px;
}

#titleForm {
    font-family: 'Anton', sans-serif;
    font-size: 2.25rem;
    text-align: center;
    margin-bottom: 25px;
    padding-top: 25px;
}

form {
    font-family: 'Inter', sans-serif;
    font-weight: lighter;
    font-size: 1.125rem;
}

#textsParagraph {
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto 10px auto;
}

#textForm {
    width: 270px;
    height: 21px;
    border-radius: 10px;
    border: 2px solid var(--cor-principal);
    padding-left: 5px;
}

#textAreaForm {
    padding: 5px;
    width: 263px;
    height: 120px;
    border-radius: 10px;
    border: 2px solid var(--cor-principal);
}

#btnForm {
    font-family: 'Dancing Script', cursive;
    font-size: 1.375rem;
    width: 195px;
    height: 36px;
    border-radius: 10px;
    background-color: var(--cor-principal);
    cursor: pointer;
    border: none;
    color: var(--black);
    transition: .5s;
}

#btnForm:hover {
    background-color: transparent;
    border: 1px solid var(--cor-principal);
}



/* Footer */
footer {
    background-image: url('/assets/img/Bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    text-align: center;
    font-family: 'Inter', sans-serif;
}

#textBottom {
    padding-top: 217px;
    font-size: 1.125rem;
    font-weight: lighter;
}

#linkTextBottom {
    font-weight: bold;
    color: var(--black);
    text-decoration: none;
    transition: .8s;
}

#linkTextBottom:hover {
    font-weight: bold;
    color: var(--white);
    text-decoration: none;
}

#lineBottomFooter {
    width: 200px;
    height: 1px;
    border: none;
    background-color: var(--white);
    margin: 8px auto;
}

#yearText {
    font-weight: bold;
}


/* Responsive */

@media (max-width: 1356px) {
    .logoVini {
        margin: 40px 231px 0 0;
    }

    #titleIconsServices {
        font-size: 1.875rem;
    }

    #textIconsServices {
        font-size: .8125rem;
    }

    #cardsServices {
        width: 80%;
    }
}

@media (max-width: 1202px) {
    .logoVini {
        margin: 40px 175px 0 0;
    }

    .aboutMe {
        width: 90%;
    }
    
    #cardsServices {
        width: 90%;
    }

    #descriptionTech {
        width: 320px;
    }

    .titleAlternative, .titleSkills {
        margin-left: 160px;
    }

}

@media (max-width: 1024px) {
    .logoVini {
        margin: 40px 54px 0 0;
    }
    
    #contentGeneral {
        margin-left: 35px;
    }
    
    .titleAlternative, .titleSkills {
        margin-left: 100px;
    }

    #cardsServices {
        margin: 90px auto 0 auto;
    }
    
    .cardWork:nth-child(2) {
        padding-right: 0;
    }

    #texts {
        width: 400px;
    }
    
    #row {
        margin: 85px auto 0 auto;
    }
    
    #descriptionTech {
        margin-top: 0;
    }

    #cards {
        margin-left: 62px;
        gap: 10px;
        width: 600px;
    }
}

@media (max-width: 1114px) {
    #cardsServices {
        width: 95%;
        
    }
}

@media (max-width: 892px) {
    .aboutMe {
        flex-direction: column;
        margin: 30px auto 177px auto;
    }

    #textDefault {
        text-align: justify;
    }

    #contentGeneral {
        height: 320px;
        margin: 0 auto;
    }

    #imgVini {
        display: none;
    }

    #cardsServices {
        margin: 30px auto 0 auto;
        flex-direction: column;
        align-items: center;
    }
    
    .cardWork {
        padding-right: 0;
    }

    #row {
        flex-direction: column;
    }

    #texts {
        width: 100%;
    }

    #descriptionTech {
        /* text-align: center; */
        margin: 0 auto;
        width: 70%;
        height: 150px;
    }

    #cards {
        width: 67%;
        gap: 20px 33px;
        margin: 0 auto;
    }
}

@media (max-width: 863px) {
    body {
        width: 108%;
    }

    nav {
        padding: 0 80px 0 80px;
    }
}

@media (max-width: 799px) {
    body {
        width: 130%;
    }
}

@media (max-width: 678px) {
    #cards {
        width: 70%;
    }
}

@media (max-width: 664px) {
    body {
        width: 150%;
    }
}

@media (max-width: 575px) {
    body {
        width: 165%;
    }
    
    header {
        background: var(--cor-secondary);
    }

    .texts {
        width: 25%;
    }

    .logoVini {
        display: none;
    }

    #cards {
        width: 71%;
    }
}

@media (max-width: 521px) {
    body {
        width: 170%;
    }

    #cards {
        width: 72%;
    }
}

@media (max-width: 508px) {
    body {
        width: 185%;
    }
}

@media (max-width: 467px) {
    body {
        width: 195%;
    }
}

@media (max-width: 443px) {
    body {
        width: 220%;
    }
}

@media (max-width: 425px) {
    #txt-description1, #txt-description2 {
        font-size: 2.8125rem;
    }

    #name-vini {
        font-size: 2.5rem;
    }

    #textDefault {
        font-size: 1.5625rem;
        line-height: 37px;
        margin: 0 auto;
        width: 100%;
    }

    #contentGeneral {
        width: 100%;
        height: 427px;
    }

    .services {
        height: 1200px;
    }

    
    #textIconsServices {
        font-size: 1.125rem;
    }
    
    #cardsServices {
        margin: 10px auto 0 auto;
        gap: 150px;
    }

    .cardWork {
        width: 405px;
        height: 220px;
    }

    #img img {
        width: 100px;
        height: 100px;
    }

    #titleIconsServices {
        font-size: 3.125rem;
    }
    
    #textIconsServices {
        width: 331px;
        height: 216px;
        font-size: 1.6875rem;
    }

    .texts {
        width: 45%;
        margin: 75px auto 0 auto;
    }

    #descriptionTech {
        width: 90%;
        font-size: 1.375rem;
    }

    #cards {
        width: 85%;
    }

    .cardRow {
        width: 351px;

    }

    .spaceCardsProjects {
        width: 95%;
        grid-template-areas:
            "project1 project2"
            "project3 project4"
            "project5 project6";
        grid-template-columns: 1fr 1fr ;
    }

    .project1, .project2, .project3, .project4, .project5, .project6 {
        height: 350px;
    }

    .description {
        height: 70px;
        margin-top: 245px;
        font-size: 1.5625rem;
        padding-top: 35px;
    }

    #explanation {
        font-size: 2.125rem;
    }

    .formContactMe {
        width: 95%;
        height: 520px;
    }
    
    form {
        font-size: 1.5625rem;
    }

    #textsParagraph {
        width: 530px;
    }
    
    #textForm {
        font-size: 1.375rem;
        width: 400px;
        height: 50px;
    }

    #textAreaForm {
        font-size: 1.375rem;
        width: 393px;
        height: 200px;
        border-radius: 10px;
        border: 2px solid var(--cor-principal);
    }


    #textBottom {
        font-size: 1.875rem;
    }

    #yearText {
        font-size: 1.875rem;
    }

}



@media (max-width: 414px) {
    .cardRow {
        width: 734px;
    }

    #iconsCards {
        margin: 33px 0 0 342px;
    }
}

@media (max-width: 393px) {
    body {
        width: 245%;
    }
}

@media (max-width: 353px) {
    body {
        width: 260%;
    }
}

@media (max-width: 332px) {
    body {
        width: 270%;
    }
}