:root {
    --cor-bg-principal: #252221;
    --cor-border: #c0c0c033;
    --white: #fff;
    --hover-white: #7a7878;
    --black: #000;
    --cor-lineBottom-nav: #dadada;
    --cor-principal: #ffb633;
    --cor-secondary: #2c2c2c;
    --cor-lineGradient: #ffffff00;
    --description-cardProject: #4b4b4bb8;
    --description-cardProjetoHover: #8a8a8ab8;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-bg-principal);
}

/* Nav */
nav {
    background-color: var(--cor-bg-principal);
    width: auto;
    height: 60px;
    overflow-x: hidden;
    border: 1px solid var(--cor-border);
    color: var(--white);
    display: flex;
    justify-content:  space-between;
    align-items: center;
    padding: 0 154px 0 154px;
    overflow-y: hidden;
}

nav img {
    width: 35px;
    height: 35px;
}

nav ul {
    display: flex;
}

nav ul li {
    
    list-style: none;
}

nav ul a {
    color: var(--white);
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 18;
    margin-left: 20px;
}

nav ul a:hover {
    color: var(--hover-white);
}

.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px var(--black);
    position: relative;
    overflow: hidden;
  }
  .hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: var(--cor-lineBottom-nav);
    height: 1px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
  }


  /* Header */

  header {
      height: 530px;
      background: linear-gradient(90deg, var(--cor-secondary) 67%, var(--cor-principal) 67%);
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }

  .texts {
    margin: 207px auto 0 auto;
    width: 35%;
  }

  #txt-description1, #txt-description2 {
    font-family: 'Dancing Script', cursive;
    font-size: 22px;
    color: var(--white);
  }

  #name-vini {
    font-family: 'Anton', sans-serif;
    font-size: 2vw;
    /* font-size: 40px; */
    color: var(--cor-principal);
  }
  .btnContactHeader {
      margin-top: 65px;
      width: 148px;
      height: 43px;
      font-family: 'Dancing Script', cursive;
      background-color: transparent;
      border: 1px solid var(--cor-principal);
      color: var(--white);
      font-size: 20px;
      transition: .8s;
      cursor: pointer;
  }

  .btnContactHeader:hover {
      background-color: var(--cor-principal);
      border: none;
      color: var(--black);
  }

  .logoVini {
      margin: 40px 308px 0 0;
  }

  /* Main */

  .aboutMe {
      display: flex;
      flex-direction: row;
      width: 882px;
      height: 372px;
      margin: 176px auto 177px auto;
  }

  #contentGeneral {
      width: 459px;
      height: 120px;
      margin-left: 67px;
  }

  .title {
    font-family: 'Anton', sans-serif;
    font-size: 40px;
    color: var(--white);
    margin-bottom: 30px;
  }

  .lineDefaultTitle {
      background-color: var(--cor-principal);
      width: 60px;
      height: 5px;
      border: none;
  }

  #textDefault {
    width: 90%;
    text-align: justify;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    line-height: 28px;
    color: var(--white);
  }

  .btnContactAbout {
      background-color: var(--cor-principal);
      font-size: 20px;
      width: 148px;
      height: 43px;
      transition: .8s;
      cursor: pointer;
      border: none;
      font-family: 'Dancing Script', cursive;
  }

  .btnContactAbout:hover {
    color: var(--white);
    border: 1px solid var(--cor-principal);
    background-color: transparent;
  }


  /* services */

  .services {
      width: auto;
      height: 664px;
      background-color: var(--cor-principal);
  }

  .titleAlternative {
    font-family: 'Anton', sans-serif;
    font-size: 40px;
    color: var(--black);
    margin-left: 230px;
    padding-top: 103px;
  }

  .lineAlternative {
    background-color: var(--white);
    width: 60px;
    height: 5px;
    border: none;
}

#cardsServices {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 150px auto 0 auto;
    width: 90%;
}

.card {
    display: flex;
    flex-direction: row;
    padding-right: 100px;
}   

.card:nth-child(3) {
    padding-right: 0;
}

#titleAndDescription {
    margin: 15px 0 8px 15px;
    width: 250px;
}

#titleIconsServices {
    font-size: 36px;
    font-family: 'Anton', sans-serif;

}

#textIconsServices {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    text-align: justify;
    width: 200px;
    height: 86px;
}


/* Skills */
.skills {
    margin-top: 50px;
}

.titleSkills {
    font-family: 'Anton', sans-serif;
    font-size: 40px;
    color: var(--white);
    margin-left: 230px;
}

#row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 85px;
}

#descriptionTech {
    width: 450px;
    height: 300px;
    text-align: justify;
    margin: 130px 0  0 221px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 30px;
    color: var(--white);
}

#cards {
    width: 719px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}

.cardRow {
    background-color: var(--white);
    border-radius: 10px;
    width: 120px;
    height: 120px;
}

#iconsCards {
    margin: 33px 38px;
}

#iconPhp {
    margin: 40px 28px;
}

#line {
    width: 863px;
    height: 3px;
    border: none;
    background: linear-gradient(90deg, var(--cor-lineGradient) 0%, var(--white) 50%, var(--cor-lineGradient) 100%);
    margin: 100px auto 100px auto;
}



/* Projects  */
.container {
    margin: 40px auto 0 auto;
    display: grid;
    width: 70%;
    height: 100%;
    grid-template-areas: "project1 project2 project3"
    "project4 project5 project6";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .container > div {
    margin: 10px;
    border-radius: 10px;
  }
  
  .project1 {
    grid-area: project1;
    background-image: url('/assets/img/project1.jpg');
    background-size: cover;
    background-position: center;
  }

  .project2 {
    grid-area: project2;
    background-image: url('/assets/img/project2.jpg');
    background-size: cover;
    background-position: center;
  }

  .project3 {
    grid-area: project3;
    background-image: url('/assets/img/project3.png');
    background-size: cover;
    background-position: center;
  }

  .project4 {
    grid-area: project4;
    background-image: url('/assets/img/project4.jpg');
    background-size: cover;
    background-position: center;
  }

  .project5 {
    grid-area: project5;
    background-image: url('/assets/img/project5.png');
    background-size: cover;
    background-position: center;
  }

  .project6 {
    grid-area: project6;
    background-image: url('/assets/img/project6.png');
    background-size: cover;
    background-position: center;
  }

  .project1, .project2, .project3, .project4, .project5, .project6 {
      height: 250px;
  }

  .description {
      width: 100%;
      height: 35px;
      background-color: var(--description-cardProject);
      margin-top: 207px;
      color: var(--white);
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      text-align: center;
      font-size: 18px;
      font-family: 'Inter', sans-serif;
      font-weight: bold;
      padding-top: 8px;
      transition: .8s;
  }

  .description:hover {
    background-color: var(--description-cardProjetoHover);
    color: var(--black);
  }

  #link-project {
      text-decoration: none;
      color: var(--white);
      transition: .5s;
  }

  #link-project:hover {
    color: var(--black);
}

#explanation {
    text-align: center;
    color: var(--cor-principal);
    margin-top: 20px;
}


/* Contact Me */
.contactMe {
    height: 650px;
    margin-top: 50px;
}

.formContactMe {
    width: 626px;
    height: 410px;
    background-color: var(--white);
    margin: 30px auto 0 auto;
    border-radius: 50px;
}

#titleForm {
    font-family: 'Anton', sans-serif;
    font-size: 36px;
    text-align: center;
    margin-bottom: 25px;
    padding-top: 25px;
}

form {
    font-family: 'Inter', sans-serif;
    font-weight: lighter;
    font-size: 18px;
}

#textsParagraph {
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto 10px auto;
}

#textForm {
    width: 270px;
    height: 21px;
    border-radius: 10px;
    border: 2px solid var(--cor-principal);
    padding-left: 5px;
}

#textAreaForm {
    padding: 5px;
    width: 263px;
    height: 120px;
    border-radius: 10px;
    border: 2px solid var(--cor-principal);
}

#btnForm {
    font-family: 'Dancing Script', cursive;
    font-size: 22px;
    width: 195px;
    height: 36px;
    border-radius: 10px;
    background-color: var(--cor-principal);
    cursor: pointer;
    border: none;
    color: var(--black);
    transition: .5s;
}

#btnForm:hover {
    background-color: transparent;
    border: 1px solid var(--cor-principal);
}



/* Footer */
footer {
    background-image: url('/assets/img/Bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    text-align: center;
    font-family: 'Inter', sans-serif;
}

#textBottom {
    padding-top: 217px;
    font-size: 18px;
    font-weight: lighter;
}

#linkTextBottom {
    font-weight: bold;
    color: var(--black);
    text-decoration: none;
    transition: .8s;
}

#linkTextBottom:hover {
    font-weight: bold;
    color: var(--white);
    text-decoration: none;
}

#lineBottomFooter {
    width: 200px;
    height: 1px;
    border: none;
    background-color: var(--white);
    margin: 8px auto;
}

#yearText {
    font-weight: bold;
}


/* Responsive */
@media (max-width: 1356px) {
    .logoVini {
        margin: 40px 231px 0 0;
    }

    #titleIconsServices {
        font-size: 30px;
    }

    #textIconsServices {
        font-size: 13px;
    }

    #cardsServices {
        width: 80%;
    }
}

@media (max-width: 1202px) {
    .logoVini {
        margin: 40px 175px 0 0;
    }
    
    #cardsServices {
        width: 90%;
    }

    #descriptionTech {
        width: 320px;
    }

    .titleAlternative, .titleSkills {
        margin-left: 160px;
    }

}

@media (max-width: 1114px) {
    #cardsServices {
        width: 95%;
        
    }
}

@media (max-width: 892px) {
    .aboutMe {
        flex-direction: column;
        margin: 30px auto 177px auto;
    }

    #textDefault {
        text-align: justify;
    }

    #contentGeneral {
        height: 320px;
        margin: 0 auto;
    }

    #imgVini {
        display: none;
    }

    #cardServices {
        margin: 90px auto 0 auto;
    }
}